### q01

In [ ]:
from math import pi

def area_trapezoid(a, b, h):
    return 0.5*h*(a+b)
def area_parallelogram(a, b):
    return a*b
def surface_area_cylinder(r, h):
    return 2*pi*r*h + 2*pi*r**2
def volume_cylinder(r, h):
    return pi*r**2*h

print(area_trapezoid(1, 3, 2))
print(area_parallelogram(2, 3))
print(surface_area_cylinder(2, 2))
print(volume_cylinder(2, 2))

### q02

In [ ]:
def check_vowel(string: str) -> bool:
    return string[-1] in ['a', 'e', 'i', 'o', 'u']

print(check_vowel(input()))

### q03

In [ ]:
def convert_url(url):
    return url.replace("http://www.", "")
print(convert_url(input("enter url: ")))

### q04

In [ ]:
def employee(name, salary=10000):
    print(salary*(1-0.02), name, sep="\n")
employee("fasih", 1000)
employee("abser")

### q05

In [ ]:
def fact(n):
    if n <= 1:
        return n
    return n * fact(n-1)
print(fact(4))

### q06

In [ ]:
def mult(nums):
    ans = 1
    for num in nums:
        ans *= num
    return ans
print(mult([1, 2, 3, 4]))

### q07

In [ ]:
def average(temps):
    total = 0
    for temp in temps:
        total += temp
    return total/len(temps)

def highest(temps):
    max_val = -float('inf')
    for temp in temps:
        if temp > max_val:
            max_val = temp
    return max_val

def lowest(temps):
    min_val = float('inf')
    for temp in temps:
        if temp < min_val:
            min_val = temp
    return min_val
    
temps = [32,31,34,31,35,34,25,30,25,25,32,27,25,32,29,25,29,27,30,31,32,28,32,35,32,27,25,29,26,34]
temps.sort()

remove_day = int(input("Enter day to remove: "))-1
if remove_day < 0 or remove_day > 30:
    print("incorrect day")
else:
    temps.pop(remove_day-1)

print("count:", len(temps))
print("average:", average(temps))
print("highest:", highest(temps))
print("lowest:", lowest(temps))

### q08

In [ ]:
conversions = [  
    [1, 1.11, 309.54, 93.25, 160.80], # euro to
    [0.90, 1, 278.62, 83.94, 144.74], # dollar to
    [0.0032, 0.0036, 1, 0.30, 0.52], # pkr to
    [0.011, 0.012, 3.32, 1, 1.72], # inr to
    [0.0062, 0.0069, 1.93, 0.58, 1] # yen to
]

def convert(amount, to_currency, from_currency):
    return amount * conversions[from_currency][to_currency]

amount = float(input("enter amount to be converted: "))
print("currencies available:", "1. euro", "2. dollar", "3. pkr", "4. inr", "5. yen", sep="\n")
from_curr = int(input("enter currency: "))-1
to_curr = int(input("convert to: "))-1

if from_curr >= 5 or from_curr < 0 or to_curr >= 5 or to_curr < 0:
    print("invalid conversion")
else:
    print(convert(amount, to_curr, from_curr))

### q09

In [ ]:
file_name = "test.txt"

with open(file_name, 'r') as f:
    content = " ".join(f.read().split('\n'))
    print("total chars:", len(content))
    print("total words:", len(content.split(' ')))

### q10

In [ ]:
def build_message(**info):
    message = ""
    for key, value in info.items():
        message += f"{key}: {value}\n"
    return message

print(build_message(name="fasih", age=19))

### q11

In [ ]:
students = {
    "fasih": [69, 71, 82, 96, 86],
    "owais": [98, 84, 85, 88, 82],
    "ali":   [97, 91, 65, 72, 88],
    "abser": [89, 94, 73, 63, 83]
}

def add_student(student, grades=[]):
    students[student] = grades

def add_grade(student, grade):
    if student in students:
        students[student].append(grade)
        return
    print("student does not exist")
    
def get_student_average(student):
    grades = students[student]
    total = 0
    for grade in grades:
        total += grade
    return total/len(grades)

def remove_student(student):
    if student in students:
        students.pop(student)
        return
    print("student does not exist")
    
new_student = input("enter new student name: ")
add_student(new_student)

while True:
    if input("would you like to enter a new grade for the student? (y/n): ").lower() == 'n':
        break
    add_grade(new_student, float(input("enter grade (out of 100): ")))

for student in students:
    print(student, students[student], sep='\n')

average_of = input("find average of student: ")
print("average", get_student_average(average_of))

remove = input("remove student: ")
remove_student(remove)

for student in students:
    print(student, students[student], sep='\n')

### q12

In [ ]:
# enter comma separated values like so: 1,2,3

list1 = input("list1: ").split(',')
list2 = input("list2: ").split(',')

print(dict(zip(list1, list2)))