In [2]:
import pandas as pd
from IPython.display import display

In [65]:
def top_three_salaries(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
    df = pd.merge(
        employee,
        department.rename(
            columns={
                'id': 'departmentId',
                'name': 'Department',
            }
        ),
        on='departmentId'
    ).rename(
        columns={
            'name': 'Employee',
            'salary': 'Salary'
        }
    ).sort_values(by='Salary', ascending=False)
    res = pd.DataFrame(data=None, columns=df.columns)
    for dep_id in df['departmentId'].unique():
        dep_df = df[df['departmentId'] == dep_id]
        n = len(dep_df[dep_df.duplicated(subset=['Salary'])])
        res = pd.concat(
            [
                res,
                dep_df.nlargest(3 + n, columns=['Salary'], keep='all')
            ],
            ignore_index=True
        )
    return res[['Department', 'Employee', 'Salary']]


data = [[1, 'Joe', 85000, 1], [2, 'Henry', 80000, 2], [3, 'Sam', 60000, 2], [4, 'Max', 90000, 1], [5, 'Janet', 69000, 1], [6, 'Randy', 85000, 1], [7, 'Will', 70000, 1]]
employee = pd.DataFrame(data, columns=['id', 'name', 'salary', 'departmentId']).astype({'id':'Int64', 'name':'object', 'salary':'Int64', 'departmentId':'Int64'})
data = [[1, 'IT'], [2, 'Sales']]
department = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})
top_three_salaries(employee, department)

C:\Users\Dell\AppData\Local\Temp\ipykernel_10848\1333823077.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  res = pd.concat(

  Department Employee  Salary
0         IT      Max   90000
1         IT    Randy   85000
2         IT      Joe   85000
3         IT     Will   70000
4      Sales    Henry   80000
5      Sales      Sam   60000