In [24]:
import pandas as pd

data = ['fasih', 'owais', 'ali', 'abser']
index = ['23K0018', '23K0047', '23K0052', '23K0030']

students = pd.Series(data, index)

students[['23K0018', '23K0030']]

23K0018    fasih
23K0030    abser
dtype: object

In [28]:
data = {'test': [1, 2, 3], 'test2': [4, 5, 6]}

df = pd.DataFrame(data, index=[1, 2, 3])

df

   test  test2
1     1      4
2     2      5
3     3      6

In [30]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
columns = ['nums1', 'nums2', 'nums3']
index = [10, 20, 30]

pd.DataFrame(data, columns, index)

       10  20  30
nums1   1   2   3
nums2   4   5   6
nums3   7   8   9